@font-face {
    font-family: 'Angel Club';
    src: url('fonts/Angel Club - (Demo) hanscostudio.com.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rockdale';
    src: url('fonts/Rockdale-FREE.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Diamend';
    src: url('fonts/Diamend-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #751805;
    color: white;
    margin: 0;
    padding: 0;
    font-family: 'Angel Club', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.background-container {
    background-image: url('images/cine2.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

h1 {
    color: white;
    font-size: 5em;
    text-align: center;
    margin-bottom: 10px;
    text-shadow: 0 0 8px rgba(255, 255, 0, 0.8),
    0 0 16px rgba(255, 255, 0, 0.6),
    0 0 24px rgba(255, 255, 0, 0.5),
    0 0 32px rgba(255, 215, 0, 0.4);
}

.header {
    position: relative;
    text-align: center;
}

.header-image {
    width: 100%;
    height: auto;
    max-height: 500px;
    object-fit: cover;
}

.title-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 8em;
    font-weight: normal;
    margin: 0;
    text-shadow: 0 0 8px rgba(255, 255, 0, 0.8),
    0 0 16px rgba(255, 255, 0, 0.6),
    0 0 24px rgba(255, 255, 0, 0.5),
    0 0 32px rgba(255, 215, 0, 0.4);
}

.top-right-buttons {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    gap: 10px;
}

button {
    background-color: #ff4500;
    color: white;
    border: none;
    padding: 15px 25px;
    font-family: 'Angel Club', sans-serif;
    font-size: 1.5em;
    cursor: pointer;
    border-radius: 50px;
    box-shadow: 0 0 8px rgba(255, 69, 0, 0.8),
    0 0 16px rgba(255, 69, 0, 0.6),
    0 0 24px rgba(255, 69, 0, 0.5);
    transition: box-shadow 0.3s ease;
}

button:hover {
    background-color: #ff4500;
    box-shadow: 0 0 10px rgba(255, 99, 71, 0.9),
    0 0 20px rgba(255, 99, 71, 0.7),
    0 0 30px rgba(255, 99, 71, 0.6);
}

.cartelera-franja {
    background-color: #ff4500;
    color: white;
    text-align: left;
    font-size: 2.5em;
    padding: 10px 40px;
    margin: 20px 0;
    box-shadow: 0 0 10px rgba(255, 99, 71, 0.9),
    0 0 20px rgba(255, 99, 71, 0.7),
    0 0 30px rgba(255, 99, 71, 0.6);
}

.carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}

.imagenes-carousel {
    display: flex;
    overflow-x: hidden; /* Oculta la barra de desplazamiento horizontal */
    gap: 10px;
    padding: 20px 0;
    scroll-behavior: smooth;
}

.imagen-container {
    min-width: 150px; /* Ancho mínimo de cada imagen contenedor para alineación horizontal */
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagen-cartelera {
    width: 150px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.imagen-cartelera:hover {
    transform: scale(1.1); /* Scale up to 110% on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Increase shadow effect */
}

.flecha {
    background-color: #ff4500;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 50%;
    font-size: 1.5em;
    cursor: pointer;
    box-shadow: 0 0 8px rgba(255, 69, 0, 0.8),
    0 0 16px rgba(255, 69, 0, 0.6),
    0 0 24px rgba(255, 69, 0, 0.5);
    transition: box-shadow 0.3s ease;
}

.flecha:hover {
    background-color: #ff4500;
    box-shadow: 0 0 10px rgba(255, 99, 71, 0.9),
    0 0 20px rgba(255, 99, 71, 0.7),
    0 0 30px rgba(255, 99, 71, 0.6);
}

.login-body {
    background-color: #751805;
    color: white;
    margin: 0;
    padding: 0;
    font-family: 'Angel Club', sans-serif;
    background-image: url('images/cine2.jpg'); /* Imagen de fondo específica para login */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.login-form-container {
    background-color: white;
    color: #ff4500;
    width: 400px;
    margin-top: 10px; /* Espacio reducido */
    margin-bottom: 60px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.9),
    0 0 20px rgba(255, 255, 255, 0.7),
    0 0 30px rgba(255, 255, 255, 0.6);
    text-align: center;
}

.login-form-container h2 {
    margin-bottom: 10px; /* Más espacio reducido */
    font-size: 2em;
}

.login-form-container label {
    display: block;
    font-size: 1.2em;
    margin-top: 10px;
}

.login-form-container input {
    width: 90%;
    padding: 12px;
    margin-top: 5px;
    border: 1px solid #ff4500;
    border-radius: 5px;
    font-size: 1em;
    text-align: center;
}

.submit-button {
    background-color: #ff4500;
    color: white;
    padding: 12px 0;
    width: 90%;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    margin-top: 20px;
}

.submit-button:hover {
    background-color: white;
    color: #ff4500;
}

footer {
    background-color: #751805;
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 1em;
    width: 100%;
    margin-top: auto;
}

.register-body {
    background-color: #751805;
    color: white;
    margin: 0;
    padding: 0;
    font-family: 'Angel Club', sans-serif;
    background-image: url('images/cine2.jpg'); /* Imagen de fondo específica para login */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.locations-body {
    background-color: #751805;
    color: white;
    font-family: 'Angel Club', sans-serif;
    background-image: url('images/cine2.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.locations-table {
    width: 90%;
    margin: 20px auto;
    padding: 20px;
}

.locales-table {
    width: 100%;
    background-color: white;
    color: #ff4500;
    border-collapse: collapse;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.9),
    0 0 20px rgba(255, 255, 255, 0.7),
    0 0 30px rgba(255, 255, 255, 0.6);
}

.locales-table th, .locales-table td {
    padding: 15px;
    border-bottom: 1px solid #ff4500;
    text-align: center;
}

.locales-table th {
    font-size: 1.5em;
    color: #ff4500;
    border-bottom: 2px solid #ff4500;
}

.locales-table tr:last-child td {
    border-bottom: none;
}

.back-arrow {
    display: inline-block;
    font-size: 1.5em;
    color: white;
    background-color: #ff4500;
    padding: 10px 15px;
    position: absolute;
    top: 20px;
    left: 20px;
    border-radius: 20px;
    text-decoration: none;
    box-shadow: 0 0 10px rgba(255, 99, 71, 0.9),
    0 0 20px rgba(255, 99, 71, 0.7),
    0 0 30px rgba(255, 99, 71, 0.6);
}

body {
    background-image: url('images/cine2.jpg');
    background-size: cover; /* Ajusta la imagen al tamaño de la pantalla sin zoom */
    background-repeat: no-repeat;
    background-position: center; /* Centra la imagen */
    background-attachment: fixed; /* Hace que el fondo no se mueva al hacer scroll */
}

.main-body {
    background-image: url("images/cine2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reserva-button {
    background-color: #ff4500;
    color: white;
    font-size: 4em;
    padding: 15px 30px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(255, 99, 71, 0.9),
    0 0 25px rgba(255, 99, 71, 0.7),
    0 0 35px rgba(255, 99, 71, 0.6);
    cursor: pointer;
    transition: box-shadow 0.5s ease, transform 0.3s ease;
    margin-top: 20px; /* Ajusta este valor según lo necesites */
}

.reserva-button:hover {
    box-shadow: 0 0 25px rgba(255, 140, 71, 1),
    0 0 40px rgba(255, 140, 71, 0.8),
    0 0 55px rgba(255, 140, 71, 0.7);
    transform: scale(1.05);
}

.movies-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.movie-row {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas para dos películas por fila */
    gap: 70px;
    width: 100%;
    max-width: 1200px; /* Ancho máximo para la fila de películas */
    margin-bottom: 20px;
}

.movie {
    background-color: #751805; /* Marrón oscuro */
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
}

.movie-content {
    display: flex; /* Coloca la imagen y la información en una fila */
    gap: 20px;
}

.movie-image {
    width: 250px;
    height: auto;
    border-radius: 5px;
}

/* Estilo para el título de la película */
.movie-info h2 {
    font-family: 'Angel Club', sans-serif;
    font-size: 1.8em; /* Un poco más pequeño */
    font-weight: 400; /* Reduce el grosor */
    margin: 0 0 10px 0;
    color: #ff4500;
}

/* Estilo para la descripción y atributos de la película */
.movie-info p,
.movie-info li { /* Añadido para los <li> */
    font-family: 'Diamend', sans-serif;
    margin: 5px 0;
    font-size: 1.1em;
}

.movie-info strong {
    font-family: 'Diamend', sans-serif;
    color: #ff4500;
    font-weight: bold;
}


.movie-row {
    margin: 20px auto;
    padding: 0 10px;
    max-width: 1300px;
}

.goto-screenings {
    font-family: 'Diamend', sans-serif;
    color: #1E90FF;
    text-decoration: none;
    font-weight: bold;
}
.movie-description {
    margin-top: 20px; /* Separa la descripción del contenido superior */
    color: #fff;
    font-family: 'Diamend', sans-serif;
}

/* Posición y estilos para el header */
.headerIzq {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    gap: 10px; /* Espacio entre el botón y el mensaje */
    width: auto;
}

.logout-button {
    font-size: 25px;
    color: white;
    background-color: #ff4500;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
    box-shadow: 0 0 10px rgba(255, 99, 71, 0.9),
    0 0 20px rgba(255, 99, 71, 0.7),
    0 0 30px rgba(255, 99, 71, 0.6);
}

.logout-button:hover {
    background-color: white; /* Color de fondo al pasar el mouse */
}

.welcome-text {
    font-size: 14px;
    color: white;
}

.movie-container {
    background-color: #751805;
    padding: 20px;
    margin: 15px 0;
    border-radius: 8px;
}
.movie-main-content {
    display: flex; /* Coloca la imagen y la información en una fila */
    gap: 20px;
}

.movie-image img {
    width: 250px;
    height: auto;
    border-radius: 5px;
}

.movie-info {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.welcome-message h1 {
    font-size: 2.5em;
    color: #FFFFFF;
    margin: 0.5em 0;
    border: none;
    text-align: center;
}

.movie-list-title {
    margin-top: 0.5em;
    text-align: center;
}

.welcome-container {
    text-align: center;
    margin: 20px 0;
}

.welcome-text {
    font-size: 2em;
    color: white;
    border: none;
}

h1 {
    margin-top: 10px;
}

.headerDer{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    gap: 10px;
    width: auto;
}

.open-menu {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 18px;
    cursor: pointer;
}

.side-menu {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #e63900;
    color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.side-menu h2 {
    padding: 8px 16px;
}

.side-menu p {
    padding: 8px 16px;
}

.side-menu a {
    padding: 8px 16px;
    text-decoration: none;
    font-size: 20px;
    font-weight: normal;
    color: white;
    display: block;
    transition: 0.3s;
}

.side-menu a:hover {
    color: #751805;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 36px;
}

.screenings-table {
    background-color: white;
    color: #ff4500;
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.9),
    0 0 20px rgba(255, 255, 255, 0.7),
    0 0 30px rgba(255, 255, 255, 0.6);
    text-align: center;
    border-collapse: collapse;
}

.screenings-table th {
    font-size: 2em;
    color: #ff4500;
    padding: 12px;
    border-bottom: 2px solid #ff4500;
}

.screenings-table tr {
    border-bottom: 1px solid #ff4500;
}

.screenings-table tr:last-child {
    border-bottom: none;
}

.screenings-table td {
    padding: 12px;
}

.small-button {
    font-size: 1.2em;
    padding: 5px 10px;
    background-color: #ff4500;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

.small-button:hover {
    background-color: #ff4500;
}

.login-form-container textarea,
.login-form-container select {
    width: 90%;
    padding: 12px;
    margin-top: 5px;
    border: 1px solid #ff4500;
    border-radius: 5px;
    font-size: 1em;
    text-align: center;
    background-color: white;
    color: #ff4500;
}

#genres {
    margin-top: 10px;
    display: flex;
    flex-direction: column; /* Alinea las opciones en una columna */
}

#genres label {
    font-size: 1em;
    color: #ff4500;
    margin: 5px 0;
}

#genres input[type="checkbox"] {
    margin-right: 10px; /* Espacio entre el checkbox y el texto */
}

.snack-row{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: 20px 0;
}
.snack-cell{
    width: 320px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.snack-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #751805; /* Color de fondo del contenedor */
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.snack-image img {
    width: 150px;
    height: auto;
    border-radius: 5px;
}

.snack-info h2 {
    font-size: 17px;
    margin: 10px 0;
    font-weight: normal;
}

.snack-info p {
    font-size: 15px;
    margin: 5px 0;
    font-weight: normal;
}

.snack-actions {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.snack-quantity-container {
    display: flex;
    align-items: center;
    gap: 5px; /* Espacio entre el label y el input */
    width: 100px; /* Ajusta el ancho del contenedor */
}

.quantity-label {
    font-size: 14px; /* Reduce el tamaño del texto */
    margin-right: 5px; /* Espacio entre el label y el input */
}

#snack-quantity {
    width: 50px; /* Ajusta el ancho del input */
    padding: 2px; /* Reduce el padding interno */
    font-size: 14px; /* Ajusta el tamaño del texto dentro del input */
}


input[type="number"] {
    width: 60px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.add-to-cart-button {
    background-color: #ff4500;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.add-to-cart-button:hover {
    background-color: #ff4500;
}

.cart-actions {
    text-align: center;
    margin: 20px 0;
}

.purchase-button {
    background-color: #ff4500;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.purchase-button:hover {
    background-color: #ff4500;
}

.snack-container {
    position: relative;
}

.delete-button {
    background-color: #ff4500; /* Fondo sólido para el botón */
    color: white; /* Color del texto */
    border: none;
    padding: 5px 10px; /* Espaciado interno para el botón */
    border-radius: 5px; /* Esquinas redondeadas */
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px; /* Separar del contenido superior */
    display: inline-block; /* Hace que el botón se ajuste al flujo del contenedor */
}

.delete-button:hover {
    background-color: #e33e00; /* Fondo de color al pasar el ratón */
    color: white; /* Mantener el color del texto al pasar el ratón */
}

.edit-button {
    font-size: 1.2em;
    background-color: #ffffff;
    color: #e33e00;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    margin-left: 10px;
}

.edit-button:hover {
    background-color: #e33e00;
}
.payment-method-body {
    background-color: #751805;
    color: white;
    font-family: 'Angel Club', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.button-container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
}

.payment-button {
    background-color: #ff4500;
    color: white;
    padding: 15px 30px;
    border-radius: 10px;
    font-size: 1.5em;
    font-family: 'Angel Club', sans-serif;
    text-decoration: none;
    font-weight: normal;
    text-align: center;
    box-shadow: 0 0 10px rgba(255, 99, 71, 0.9),
    0 0 20px rgba(255, 99, 71, 0.7),
    0 0 30px rgba(255, 99, 71, 0.6);
    transition: background-color 0.3s, transform 0.2s;
}

.payment-button:hover {
    background-color: #ff6347;
    transform: scale(1.05);
}
.pago-container-unique {
    background-color: white;
    color: #ff4500;
    width: 320px;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.9),
    0 0 20px rgba(255, 255, 255, 0.7),
    0 0 30px rgba(255, 255, 255, 0.6);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 50px;
}

.pago-container-unique h2 {
    margin: 0 0 30px 0;
    font-size: 1.8em;
    font-family: 'Angel Club', sans-serif;
    color: #ff4500;
}

.pago-container-unique label {
    font-size: 1.1em; /* Tamaño unificado para ambos textos */
    margin-bottom: 10px;
    display: block;
    text-align: center;
    width: 100%;
}

.pago-container-unique input[type="text"] {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    margin-bottom: 20px;
    border: 1px solid #ff4500;
    border-radius: 5px;
    font-size: 1.1em;
}

.pago-container-unique .checkbox-container {
    display: flex;
    flex-direction: column; /* Ordena el texto y el checkbox verticalmente */
    align-items: center;
    gap: 10px; /* Espacio entre el texto y el checkbox */
}

.pago-container-unique .checkbox-container label {
    font-size: 1.1em; /* Asegura que el texto sea del mismo tamaño */
}

.pago-container-unique button {
    background-color: #ff4500;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
    transition: background-color 0.3s ease-in-out;
}

.pago-container-unique button:hover {
    background-color: #ff6347;
}



/* Contenedor de filas de películas */
.movie-row2 {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos películas por fila */
    gap: 30px; /* Espacio entre tarjetas */
    width: 100%;
    max-width: 1200px;
    margin: 20px auto; /* Centrado horizontal */
    padding: 10px;
}

/* Tarjeta de película */
.movie2 {
    background-color: #751805; /* Fondo marrón oscuro */
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
}

/* Contenido de cada tarjeta: imagen e info en una fila */
.movie-content2 {
    display: flex;
    gap: 20px;
}

.movie-image2 img {
    width: 250px;
    height: auto;
    border-radius: 5px;
}

.movie-info2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;
    align-items: flex-start;
}

.movie-info2 h2 {
    font-family: 'Angel Club', sans-serif;
    font-size: 1.8em;
    font-weight: 400;
    margin-bottom: 10px;
    color: #ff4500;
}

.movie-info2 p,
.movie-info2 li {
    font-family: 'Diamend', sans-serif;
    font-size: 1.1em;
    margin: 5px 0;
}

.movie-info2 strong {
    color: #ff4500;
    font-weight: bold;
}
.add-to-cart-button2 {
    background-color: #ff4500;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    display: inline;
    width: auto;
    white-space: nowrap;
    box-shadow: 0 0 10px rgba(255, 69, 0, 0.7), 0 0 20px rgba(255, 69, 0, 0.5);
}

.add-to-cart-button2:hover {
    background-color: #e33e00;
    box-shadow: 0 0 15px rgba(255, 69, 0, 0.9), 0 0 30px rgba(255, 69, 0, 0.7);
}

.filter-container {
    background-color: white;
    color: #ff4500;
    width: auto;
    margin: 20px auto;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.9),
    0 0 20px rgba(255, 255, 255, 0.7),
    0 0 30px rgba(255, 255, 255, 0.6);
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: 'Angel Club', sans-serif;
}

.filter-container label {
    font-size: 1.2em;
    color: #ff4500;
    white-space: nowrap;
}

.filter-container select {
    width: 200px;
    padding: 10px;
    border: 1px solid #ff4500;
    border-radius: 5px;
    font-size: 1em;
    text-align: center;
    background-color: #fff;
    color: #751805;
}

.filter-container button {
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    color: white;
    background-color: #ff4500;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.filter-container button:hover {
    background-color: #e63900;
}