<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Iniciar Sesión - WTF Cinema</title>
    <link rel="stylesheet" href="/index.css">
</head>
<body class="login-body">
<h1>
    Iniciar Sesion
</h1>

<div th:if="${error}" class="error-message">
    <p th:text="${error}"></p>
</div>

<div class="login-form-container">
    <h2>Ingrese sus datos:</h2>
    <form action="/login-request" method="POST">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>

        <label for="password">Contrasena:</label>
        <div class="password-container">
            <input type="password" id="password" name="password" required>
            <span class="toggle-password" onclick="togglePassword()">👁️‍🗨️</span>
        </div>

        <button type="submit" class="submit-button">Ingresar</button>
    </form>
</div>

<script>
    function togglePassword() {
        const passwordField = document.getElementById("password");
        if (passwordField.type === "password") {
            passwordField.type = "text";
        } else {
            passwordField.type = "password";
        }
    }
</script>

<footer>
    <p>&copy; 2024 WTF Cinema. Proyecto final.</p>
    <p>Laboratorio TIC I.</p>
    <p>Jimena Bazzano, Martina Gutierrez, Victoria Lena y Agustina Rabajoli</p>
</footer>
</body>
</html>
