<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Agregar Funcion - WTF Cinema</title>
    <style>
        .error-message {
            color: #ffffff;
            font-size: 1em;
            margin-top: 10px;
            background-color: #f8d7da;
            border: 1px solid red;
            padding: 10px;
            border-radius: 5px;
            display: block;
        }
    </style>
    <link rel="stylesheet" href="/index.css">
</head>
<body class="register-body">
<a href="/moviesAdmin" class="back-arrow">&larr; Volver</a>
<h1>
    Agregar Funcion
</h1>

<div class="login-form-container">
    <h2>Ingrese sus datos:</h2>

    <div th:if="${errorMessage}" class="error-message">
        <span th:text="${errorMessage}"></span>
    </div>

    <form action="/register-movie" method="POST">
        <label for="date_time">* Fecha y Hora:</label>
        <input type="datetime-local" id="date_time" name="date_time" required>

        <label for="language">* Idioma:</label>
        <input type="text" id="language" name="language" required>

        <label for="movie_id">* ID de la Película:</label>
        <input type="text" id="movie_id" name="movie_id" required>

        <label for="theatre_id">* ID del Teatro:</label>
        <input type="text" id="theatre_id" name="theatre_id" required>
    </form>

</div>

<footer>
    <p>&copy; 2024 WTF Cinema. Proyecto final.</p>
    <p>Laboratorio TIC I.</p>
    <p>Jimena Bazzano, Martina Gutierrez, Victoria Lena y Agustina Rabajoli</p>
</footer>
</body>
</html>
