<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Locales - WTF Cinema</title>
  <link rel="stylesheet" href="/index.css">
</head>
<body class="locations-body">
<a href="/movies" class="back-arrow">&larr; Regresar</a>
<h1>Nuestros Locales</h1>

<div class="locations-table">
  <table class="locales-table">
    <thead>
    <tr>
      <th>Nombre</th>
      <th>Dirección</th>
      <th>Número</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="location : ${cinemas}">
      <td><span th:text="${location.getName()}">Nombre no disponible</span></td>
      <td><span th:text="${location.getAddress()}">Dirección no disponible</span></td>
      <td><span th:text="${location.getPhoneNumber()}">Número no disponible</span></td>
    </tr>
    </tbody>
  </table>
</div>

<footer>
  <p>&copy; 2024 WTF Cinema. Proyecto final.</p>
  <p>Laboratorio TIC I.</p>
  <p>Jimena Bazzano, Martina Gutierrez, Victoria Lena y Agustina Rabajoli</p>
</footer>
</body>
</html>
