<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/index.css">
    <title>WTF Cinema</title>
</head>
<body>
<h1>
    <img src="/images/popcorn.png" alt="Popcorn" class="popcorn-img">
    WTF Cinema
    <img src="/images/drink.png" alt="Drink" class="drink-img">
</h1>
<div class="container">
    <button>Botón 1</button>
    <button>Botón 2</button>
    <button>Botón 3</button>
</div>
</body>
</html>
