<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WTF Cinema</title>
    <link rel="stylesheet" href="/index.css">
</head>
<body>
<div class="header">
    <img src="/images/cine.png" alt="Cine fondo" class="header-image">
    <div class="top-right-buttons">
        <button onclick="window.location.href='/login'">Iniciar Sesión</button>
        <button onclick="window.location.href='/register'">Registrarse</button>
        <button onclick="window.location.href='locations'">Locales</button>
    </div>
    <h1 class="title-overlay">
        What The <br> Fun Cinema
    </h1>
</div>

<div class="cartelera-franja">
    Cartelera Actual:
</div>

<div class="carousel-container">
    <button class="flecha flecha-izquierda" onclick="moveCarousel(-1)">&larr;</button>
    <div class="imagenes-carousel">
        <div th:each="movie : ${movies}" class="imagen-container">
            <a href="login"><img th:src="@{/images/{id}.jpg(id=${movie.getId()})}" alt="Imagen de la película" class="imagen-cartelera"/></a>
        </div>
    </div>
    <button class="flecha flecha-derecha" onclick="moveCarousel(1)">&rarr;</button>
</div>

<footer>
    <p>&copy; 2024 WTF Cinema. Proyecto final.</p>
    <p>Laboratorio TIC I.</p>
    <p>Jimena Bazzano, Martina Gutierrez, Victoria Lena y Agustina Rabajoli</p>
</footer>

<script>
    function moveCarousel(direction) {
        const container = document.querySelector('.imagenes-carousel');
        container.scrollBy({
            left: direction * 200, // Ajusta el valor de desplazamiento si es necesario
            behavior: 'smooth'
        });
    }
</script>
</body>
</html>
