<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies</title>
    <style>
        .movie-row {
            display: flex;
            flex-wrap: wrap;
        }
        .movie-cell {
            width: 33.33%;
            padding: 10px;
            box-sizing: border-box;
        }
        .movie-image img {
            width: 100%;
            border-radius: 5px;
        }
    </style>
</head>
<body>
<header class="header">
    <div class="top-right-buttons">
        <h1>Welcome, <span th:text="${user != null ? user.name : 'Guest'}"></span>!</h1>
        <a href="/logout" class="logout-button">Logout</a>
    </div>
</header>

<h1>Lista de Películas</h1>
<div class="movie-row">
    <div th:each="movie : ${movies}" class="movie-cell">
        <h3 th:text="${movie.getTitle()}">Título de la película</h3>
        <p th:text="${movie.getId()}">ID</p>
    </div>
</div>

</body>
</html>
