<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WTF Cinema - Página Principal</title>
    <link rel="stylesheet" href="/index.css">
</head>
<body class="main-body">

<header class="headerIzq">
    <div class="welcome-container">
        <a href="/logout" class="logout-button">Log out</a>
    </div>
</header>
<header class="headerDer">
    <button id="openMenuBtn" class="open-menu">☰ </button>

    <div id="sideMenu" class="side-menu">
        <a href="javascript:void(0)" class="close-button" onclick="closeMenu()">✖</a>
        <h2>Mi Menú</h2>
        <a href="/locationsMenu">Locales</a>
        <a href="/my-tickets">Mis Tickets</a>
        <a href="/snacksMenu">Snacks</a>
        <a href="/delete-user" onclick="confirm('Estas seguro de que deseas eliminar tu perfil permanentemente?')">Eliminar Perfil</a>
    </div>
</header>
<div class="welcome-container">
    <h1 class="welcome-text">Welcome, <span th:text="${user != null ? user.name : 'Guest'}"></span>!</h1>
</div>
<div class="background-top">
    <button class="reserva-button">Comprar</button>
</div>

<div th:if="${errorMessage}" class="error-message">
    <span th:text="${errorMessage}"></span>
</div>

<div class="movie-row">
    <div th:each="movie : ${movies}" class="movie-cell">
        <div class="movie-container">
            <!-- Contenedor para la imagen y la información principal en una fila -->
            <div class="movie-main-content">
                <div class="movie-image">
                    <img th:src="@{/images/{id}.jpg(id=${movie.getId()})}" alt="Imagen de la película" />
                </div>
                <div class="movie-info">
                    <h2 th:text="${movie.getTitle()}">Título de la película</h2>
                    <p><strong>Director:</strong> <span th:text="${movie.getDirector()}">Director no disponible</span></p>
                    <p><strong>Duración:</strong> <span th:text="${movie.getDuration()}">Duración no disponible</span></p>
                    <p><strong>Géneros:</strong></p>
                    <ul>
                        <li th:each="genre : ${movie.getGenres()}" th:text="${genre}">Género no disponible</li>
                    </ul>
                    <p><strong>Fecha de Lanzamiento:</strong> <span th:text="${#dates.format(movie.getReleaseDate(), 'yyyy-MM-dd')}">Fecha de lanzamiento no disponible</span></p>
                    <p><strong>Restricción de Edad:</strong> <span th:text="${movie.getAgeRestriction()}">Restricción de edad no disponible</span></p>
                </div>
            </div>
            <div class="movie-description">
                <p th:text="${movie.getDescription()}">Descripción no disponible</p>
                <a th:href="@{/movie/{movie_id}(movie_id=${movie.getId()})}" class="add-to-cart-button">Ver Funciones</a>
            </div>
        </div>
    </div>
</div>

<footer>
    <p>&copy; 2024 WTF Cinema. Proyecto final.</p>
    <p>Laboratorio TIC I.</p>
    <p>Jimena Bazzano, Martina Gutierrez, Victoria Lena y Agustina Rabajoli</p>
</footer>

<script>
    // Abrir el menú
    document.getElementById('openMenuBtn').onclick = function() {
        document.getElementById('sideMenu').style.width = '250px';
    };

    // Cerrar el menú
    function closeMenu() {
        document.getElementById('sideMenu').style.width = '0';
    }
</script>

</body>
</html>