<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WTF Cinema - Página Principal</title>
  <link rel="stylesheet" href="/index.css">
</head>
<body class="main-body">

<header class="headerIzq">
  <div class="welcome-container">
    <a href="/logout" class="logout-button">Log out</a>
  </div>
</header>
<header class="headerDer">
  <button id="openMenuBtn" class="open-menu">☰ </button>

  <div id="sideMenu" class="side-menu">
    <a href="javascript:void(0)" class="close-button" onclick="closeMenu()">✖</a>
    <h2>Mi Menú</h2>
    <a href="/locationsMenu">Locales</a>
    <a href="/my-tickets">Mis Tickets</a>
    <a href="/admin/snacksMenuAdmin">Snacks</a>
    <a href="/admin/edit-profile-admin">Editar Perfil</a>
    <br>
    <a href="/admin/createMovie">Agregar Pelicula</a>
    <a href="/admin/createFunction">Agregar Funcion</a>
    <a href="/admin/createSnacks">Agregar Snacks</a>
    <a href="/admin/registerEmployee">Registrar Empleado</a>
  </div>
</header>
<div class="welcome-container">
  <h1 class="welcome-text">Welcome, <span th:text="${employee != null ? employee.getName() : 'Guest'}"></span>!</h1>
</div>
<div class="movie-row">
  <div th:each="movie : ${movies}" class="movie-cell">
    <div class="movie-container">
      <div class="movie-main-content">
        <div class="movie-image">
          <img th:src="@{/images/{id}.jpg(id=${movie.getId()})}" alt="Imagen de la película" />
        </div>
        <div class="movie-info">
          <h2 th:text="${movie.getTitle()}">Título de la película</h2>
          <a th:href="@{/admin/edit-movie/{movieId}(movieId=${movie.getId()})}" class="edit-button">✏️ Editar</a>
          <p><strong>Director:</strong> <span th:text="${movie.getDirector()}">Director no disponible</span></p>
          <p><strong>Duración:</strong> <span th:text="${movie.getDuration()}">Duración no disponible</span></p>
          <p><strong>Géneros:</strong></p>
          <ul>
            <li th:each="genre : ${movie.getGenres()}" th:text="${genre}">Género no disponible</li>
          </ul>
          <p><strong>Fecha de Lanzamiento:</strong> <span th:text="${#dates.format(movie.getReleaseDate(), 'yyyy-MM-dd')}">Fecha de lanzamiento no disponible</span></p>
          <p><strong>Restricción de Edad:</strong> <span th:text="${movie.getAgeRestriction()}">Restricción de edad no disponible</span></p>
        </div>
      </div>
      <div class="movie-description">
        <p th:text="${movie.getDescription()}">Descripción no disponible</p>
      </div>
      <a th:href="@{/admin/movie/{movie_id}(movie_id=${movie.getId()})}" class="add-to-cart-button2">Ver Funciones</a>
      <form th:action="@{/admin/deleteMovie/{movieId}(movieId=${movie.getId()})}" method="POST" onsubmit="return confirmDeleteM()">
        <button type="submit" class="delete-button">Eliminar 🗑</button>
      </form>
    </div>
  </div>
</div>

<footer>
  <p>&copy; 2024 WTF Cinema. Proyecto final.</p>
  <p>Laboratorio TIC I.</p>
  <p>Jimena Bazzano, Martina Gutierrez, Victoria Lena y Agustina Rabajoli</p>
</footer>

<script>
  document.getElementById('openMenuBtn').onclick = function () {
    document.getElementById('sideMenu').style.width = '250px';
  };

  function closeMenu() {
    document.getElementById('sideMenu').style.width = '0';
  }

  function confirmDeleteM() {
    return confirm('¿Estás seguro de que deseas eliminar esta pelicula y sus funciones?');
  }
</script>

</body>
</html>