<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WTF Cinema - Screenings</title>
    <link rel="stylesheet" href="/index.css">
</head>
<body class="main-body">
<header class="headerIzq">
    <div class="top-right-buttons">
        <h1>Screenings for <span th:text="${movie.getTitle()}"></span>!</h1>
        <a href="/logout" class="logout-button">Logout</a>
        <a href="/movies" class="return-button">Return to Movies</a>
    </div>
</header>

<a href="/movies" class="back-arrow">&larr; Regresar</a>


<h1>Lista de Funciones</h1>
<table class="screenings-table">
    <thead>
    <tr>
        <th>Cine</th>
        <th>Fecha y Hora</th>
        <th>Idioma</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="screening : ${movie.getScreenings()}">
        <td th:text="${screening.getTheatre().getCinema().getName()}">Cine</td>
        <td th:text="${screening.getDateLindo()}">Fecha no disponible</td>
        <td th:text="${screening.getLanguage()}">Idioma no disponible</td>
        <td>
            <a th:href="@{/seats/{screeningId}(screeningId=${screening.getId()})}" class="reserva-button small-button">Ver Asientos</a>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>
