<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WTF Cinema - Películas</title>
    <link rel="stylesheet" href="/index.css">
</head>
<body class="main-body">

<header class="headerIzq">
    <div class="welcome-container">
        <a href="/movies" class="back-arrow">&larr; Regresar</a>
    </div>
</header>


<h1>Tus Tickets</h1>
<header class="headerDer">
    <button id="openMenuBtn" class="open-menu">☰ </button>

    <div id="sideMenu" class="side-menu">
        <a href="javascript:void(0)" class="close-button" onclick="closeMenu()">✖</a>
        <h2>Mi Menú</h2>
        <a href="/locations">Locales</a>
        <a href="/movies">Regresar a Películas</a>
    </div>
</header>

<div th:if="${errorMessage}" class="error-message">
    <span th:text="${errorMessage}"></span>
</div>

<div class="movie-row2">
    <div th:each="ticket : ${userTickets}" class="movie2">
        <div class="movie-content2">
            <div class="movie-image2">
                <img th:src="@{/images/{id}.jpg(id=${ticket.getScreening().getMovie().getId()})}" alt="Imagen de la película" />
            </div>
            <div class="movie-info2">
                <h2 th:text="${ticket.getScreening().getMovie().getTitle()}">Título de la película</h2>
                <p><strong>Sucursal:</strong> <span th:text="${ticket.getScreening().getTheatre().getCinema().getName()}">Sucursal no disponible</span></p>
                <p><strong>Dirección:</strong> <span th:text="${ticket.getScreening().getTheatre().getCinema().getAddress()}">Dirección no disponible</span></p>
                <p><strong>Fecha:</strong> <span th:text="${ticket.getScreening().getDateLindo2()}">Fecha no disponible</span></p>
                <p><strong>Asiento:</strong> <span th:text="${ticket.getSeat()}">Asiento no disponible</span></p>

                <ul>
                    <li th:each="snack : ${ticket.getSnacks()}" th:text="${snack.getName()}">Snack no disponible</li>
                </ul>
                <a th:href="@{/snacks/{ticketId}(ticketId=${ticket.getId()})}" class="add-to-cart-button2">Agregar Snacks</a>
                <form th:action="@{/delete-ticket/{ticketId}(ticketId=${ticket.getId()})}" method="POST" onsubmit="return confirmDeleteT()">
                    <button type="submit" class="delete-button">Eliminar 🗑</button>
                </form>
            </div>
        </div>
    </div>
</div>

<footer>
    <p>&copy; 2024 WTF Cinema. Proyecto final.</p>
    <p>Laboratorio TIC I.</p>
    <p>Jimena Bazzano, Martina Gutierrez, Victoria Lena y Agustina Rabajoli</p>
</footer>

<script>
    document.getElementById('openMenuBtn').onclick = function() {
        document.getElementById('sideMenu').style.width = '250px';
    };

    function closeMenu() {
        document.getElementById('sideMenu').style.width = '0';
    }

    function confirmDeleteT() {
        return confirm('¿Estás seguro de que deseas eliminar este Ticket?');
    }
</script>

</body>
</html>
