<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Método de Pago</title>
    <link rel="stylesheet" href="/index.css">
</head>

<body class="payment-method-body">
<h1>Método de Pago</h1>

<div class="button-container2">
    <a th:href="@{/new-card/{screening_id}/{seats}(screening_id=${screeningId}, seats=${seats})}" class="payment-button">
        Agregar Método de Pago
    </a>

    <a th:if="${card!=null}"
        th:href="@{/payed/{screening_id}/{seats}(screening_id=${screeningId}, seats=${seats})}" class="payment-button">
        Usar Método de Pago Existente
    </a>
</div>

<footer>
    <p>&copy; 2024 WTF Cinema. Proyecto final.</p>
    <p>Laboratorio TIC I.</p>
    <p>Jimena Bazzano, Martina Gutierrez, Victoria Lena y Agustina Rabajoli</p>
</footer>
</body>
</html>
